@import './base.css';

body {
  background-color: #f5f5f5;
}

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
}
